/*GLOBALS*/
body{
    background-color: rgb(63, 63, 63);
    height: 100vh;
    margin: auto;
    /*font-family: "Anton";*/
    background-repeat: no-repeat;
    background-attachment: fixed;
}

textarea{
    resize: none;
}

/*NAVBAR*/
.logo_nav{
    width: 12em;
    height: 3.8em;
}

.box_categories{
    display:flex;
    flex-direction: row;
    margin-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-around;
}

/*Boostrap*/
.row{
    --bs-gutter-x: none;
}

.container-xxl{
    padding: 0;
}